:root {
    --maincolor-o: #1f1b21;
    --subcolor-o: #29242c;
    --border-color-o: #49404f;
    --fontcolor-o: #dfd5e5;

    --border-thicc-o: 1px;
    --border-curve: 3px;

    --impcolor-blu-o: #32a0e9;
    --impcolor-red-o: #e94732;
}


*{
    color: var(--fontcolor-o);
}

body {
    margin: 0px;
    background: var(--maincolor-o);
}

#mainbox {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.setting-body {
    background: var(--subcolor-o);
    border: 2px solid var(--border-color-o);
    border-radius: 5px;
    margin-top: 10px;
}

.setting-topbar {
    height: 52px;
    padding-inline-end: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.setting-drop {
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    transition: 0.2s ease;
    user-select: none;
    background: var(--subcolor-o);
}
.setting-drop:hover {
    filter: brightness(1.4);
}
.reverted {
    transform: scaleY(-1);
}

.setting-title {
    font-size: 20px;
    font-weight: bold;
}

.setting-topspacer {
    margin-inline-start: auto;
    padding: 5px;
    display: flex;
    align-items: center;
}

.switch {
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    background: var(--maincolor-o);
    border-radius: 10px;
    border-color: var(--border-color-o);
    border: 1px solid var(--border-color-o);
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px;

}
.switch[state="on"] {
    background: var(--impcolor-blu-o);
    border-color: var(--impcolor-blu-o);
}
.switch::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: var(--fontcolor-o);
    border-radius: 5px;
    top: 4px;
    left: 4px;
    transition: all 0.25s ease;
}
.switch[state="on"]::before {
    left: 24px;
}


.setting-desc {
    padding: 10px;
    font-size: 15px;
}


.btn-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: left;
    width: 100%;
    background: none;
    border: none;
    flex-wrap: wrap;
}
.theme-btn{
    width: 20px;
    height: 20px;
    border: 1px solid var(--subcolor-o);
}
.theme-btn:hover {
    cursor: pointer;
}
.font-btn{
    width: 20px;
    height: 20px;
    border: 1px solid var(--subcolor-o);
}
.font-btn:hover {
    cursor: pointer;
}

.preview-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: 100%;
    background: none;
    border: none;
    margin-top: 5px;
}
.preview-spacer {
    width: 10px;
    height: 10px;

}
.preview-box {
    width: 10px;
    height: 10px;
    border: 1px solid var(--border-color-o);

}
.preview-shift {
    background: red;
    width: 10px;
    height: 10px;
    border: 1px solid var(--border-color-o);
}

img {
    width: 100%;
}

.new {
    background: var(--impcolor-blu-o);
    color: var(--fontcolor-o);
    border-radius: 5px;
    margin: 0px 0px 0px 6px;
    padding: 1px 3px 1px 3px;
}
