:root {
    --titleshift: 190deg; /* determines the logo color shift */
    --maincolor: #5ea8ee;
    --subcolor: #46548c;
    --border-color: #9cbcdb;
    --fontcolor: #f7f7f7;

    --border-thicc: 1px;
    --border-curve: 3px;

    --impcolor-blu: #53f7f1;
    --impcolor-red: #5382f7;

    --customco-1: #f7f7f7;
    --customco-2: #7780d3;
    --customco-3: #32e9ac;
}
